body {
    font-family: 'DM Serif Display', serif;
    font-size: 1.7em;
    text-transform: lowercase;
}

#container {
    width: 1366px;
    height: 768px;
    display: grid;
    grid-template-columns: 26% auto;
    grid-template-rows: 70% auto;
}

/*** HEADER ***/
header{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: end;
    /* color: ; */
    margin-bottom: 32px;
    margin-left: 100px;
    
}

h1 {
    font-size: 2.8em;
    color: black;
}


ul{
    padding: 0;
   
}
li {
    text-decoration: none;
    list-style-type: none;
}

/*** MAIN SECTION ***/
main {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 949px;
    height: 557px;
    /* display: grid;
    grid-template-columns: 34% auto 34%;
    grid-template-rows: 35% auto 24%; */
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
    margin-right: 63px;
}
section div {
    background-color: cadetblue;
}

main section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.one {
    width: 320px;
    height: 100%;
}

.two {
    width: 235px;
    height: 100%;
}

.three {
    width: 320px;
    height: 100%;
}

#imgOne {
    width: 310px;
    height: 195px;

}

#imgTwo {
    width: 235px;
    height: 330px;

}

#imgThree {
    width: 320px;
    height: 260px;

}

#imgFour {
    width: 320px;
    height: 327px;
 
}

#imgFive {
    width: 235px;
    height: 195px;
   
}

#imgSix {
    width: 320px;
    height: 260px;
   
}

/*** FOOTER ***/
footer{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    height: 200px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer ul{
    margin: 0;
}

footer ul li{
    display: inline;
}

footer p{
    font-size: .5em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

li, a {
    color: #939598;
}
