/* Color Options
DADBE7
F3F3F7
E7E7EF */
body {
	/* background-color: #DADBE7; */
	/* background-image: linear-gradient(to right,white , #DADBE7); */
}
#container {
    width: 100%;
	max-width: 1366px;
	min-width: 900px;
	font-family: 'Poppins', sans-serif;
	text-transform: lowercase;
	margin: auto; 
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header {
	width: 1100px;
	padding-top: 30px;
	display: flex;
  	flex-direction: column;
	margin: auto;
	
	/* border-right: 5px solid #F3F3F7; */
	/* background-image: linear-gradient(to left,white , #DADBE7); */
}

#class {
	font-weight: 300;
	padding-bottom: 30px;
}
#banner {
	width: 1100px;
	height: 250px;
	border-radius: 20px;
	/* background-color: #F3F3F7; */
	box-shadow: 0 0 20px #e6e4e4;
	/* border: 2px solid rgb(141, 141, 141); */
	display: flex;
	justify-content: space-evenly;
	/* position: relative; */

	animation-name: typetext;
    /* animation-duration: 300s; */
    animation-iteration-count: infinite;
	
}

#book-stack {
	width: 33%;
	/* height: 200px; */
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap;
	justify-content: center; */
	align-items: flex-end;
	/* align-content: center; */
	/* position: absolute; */
	bottom: 0;
	left: 0;
	/* flex-grow: 1; */
	
	
	
}

.book {
	/* height: 20px;
	width: 200px; */
	background-color: rgb(228, 228, 228);
	border-top: 2px solid rgb(170, 170, 170);
	border-bottom: 2px solid rgb(170, 170, 170);
	border-radius: 5px;
	margin: auto;
	
	animation-name: bookStackChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
	animation-direction: alternate;
	

}

.book p {
	/* margin: auto; */
	margin:0;
	text-align: center;
	/* align-self: center; */
}

#book1 {
	height: 30px;
	width: 200px;
	
	animation-delay: -8s;
}
#book2 {
	height: 20px;
	width: 200px;
	
	animation-delay: -7s;
	
}
#book3 {
	height: 20px;
	width: 200px;
	
	animation-delay: -6s;
}
#book4 {
	height: 20px;
	width: 150px;
	
   
	animation-delay: -5s;
}
#book5 {
	height: 30px;
	width: 150px;
	
	animation-delay: -4s;
}
#book6 {
	height: 50px;
	width: 100px;

	animation-delay: -3s;
	
	
}


#quote {
	width: 66%;
	padding: 50px;
	font-size: 2em;
	margin: auto;
	/* position: absolute; */
	/* flex-grow: 2; */
}

/* #quote::after{
	content: ' - Six of Crows';
	font-weight: 300;
} */
#quote:hover::after{
	content: ' - Six of Crows';
	/* content: url('images/six-of-crows.jpg'); */
	font-weight: 700;
	
}

#quote:hover {
	/* width: 66%; */
	transform: scale(1.1, 1.1);
	/* box-shadow: 0 0 20px #e6e4e4;
	border-radius: 20px; */
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.columns {
	width: 16%;
	padding: 20px;
	margin: 50px 20px;
	box-shadow: 0 0 1px gray;
	border-radius: 20px;
	
}

.columns:hover {
	/* width: 40%; */
	transform: scale(1.1, 1.1);
	/* background-color: #fdfdfd;  */
	box-shadow: 0 0 20px #e6e4e4;
	border-radius: 20px;

}

li {
	line-height: 2em;
	list-style-type: none;
}

footer {
	width: 1100px;
	height: 50px;
	border-radius: 15px;
	/* background-color: #F3F3F7; */
	
	text-align: center;
	
	
}

footer a {
	text-decoration: none;
	padding:20px;
	color: black;
}



@keyframes typetext {

}

@keyframes bookStackChange {
	0% {margin-left: -9999px;}
	95% {margin-left: auto;}
	100%{margin-left: auto;}
	
}