body {
    font-family: 'Playfair Display', serif;
}

#container {
    width: 1366px;
    margin: 30px;
}

h1 {
    font-size: 3em;
    text-align: center;
}

/*** SECTIONS ***/
div>section {
    width: 800px;
    margin: 0 auto;
    display: flex;
}

section h2 {
    width: 30%;
    margin-right: 30px;
}

section>p {
    width: 75%;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    line-height: 1.3em;
}

section div {
    width: 75%;
    ;
}

section>section {
    width: 600px;
}

section>section p {
    width: 100%;
}

h2,
p {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 27px;
}

/*** LINKS ***/
a {
    color: grey;
    text-decoration: none;
    font-style: italic;
    /* border-bottom: 2px solid grey; */
}

a:hover {
    border-bottom: 2px solid grey;
}