/*********************  Project Intro **********************/
#project-overview,
#searchbar,
#searchbar-green,
.project-overview-text {
    display: flex;
}

#project-overview,
#searchbar-green{
    justify-content: center;
}

#searchbar,
.project-overview-text {
    justify-content: space-between;
   

}

#project-overview{
    margin-top: 15vh;
    flex-wrap: wrap;
    background-color: rgba(66, 106, 90, 17%);
    border-radius: 1em;
}


#project-overview img{
    width: 70%;
}

#searchbar{
    height: 1.8rem;
    background-color: #F6F1DC;
    border-radius: 1rem;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 90%;
}

#searchbar-green{
    width: 12%;
    height: 1.8rem;
    background-color: #426A5A;
    border-radius: 0 1rem 1rem 0;
    align-items: center;
}

#searchbar i {
    color: #F6F1DC;
    font-size: 0.9rem;
}

#searchbar p, 
.project-overview-text{
    font-size: 0.6rem;
}

#searchbar p{
    padding-left: 1.5rem;
}

span{
    font-size: 1em;
    font-weight: 600;
    color: #426A5A;
    padding-right: 0.5em;
}

.project-overview-text {
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1em;

}

/*********************  Project Texts **********************/
#project-contents h6 {
    color: #7F7E82;
    text-transform: uppercase;
    letter-spacing: .075rem;
}

#project-contents h2{
    color: #426A5A;
    font-size: 1.125rem;
    text-transform: none;
    font-weight: 600;
    
}

#introduction h2 {
    text-align: center;
}

#project-contents h3 {
    text-transform: none;
    font-weight: 600;
    font-size: 1rem;
    font-style: italic;
    color: #262626;
}

ul li {
    line-height: 1.5;
}

/*********************  Project Sections **********************/
#project-contents section{
    margin-bottom: 4rem;
}

#project-contents img{
    width: 80%;
    display: block;
    margin: 0 auto;
}


/*********************  Problem Section **********************/
#problem > p:last-of-type{
    color: #7F7E82;
    font-size: 0.625rem;
    font-weight: 400;
}

#problem p a{
    text-decoration: none;
    color: #7F7E82;;
}

/*********************  Solution Section **********************/

/* #solution img{
    width: 80%;
    display: block;
    margin: 0 auto;
}
 */
#solution h2:last-of-type{
    font-style: italic;
    margin-top: 4rem;
}

/*********************  Competitor analysis Section **********************/

#competitor-analysis div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#competitor-analysis div p{
    margin-top: 0;
}

/*********************  Survey Results Section **********************/

#survey-stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(66, 106, 90, 17%);
    border-radius: 1em;
    padding: 2rem 0;
}

#survey-stats p {
    margin-top: 0;
    width: 90%;
    text-align: center;
}

#survey-insights{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

/********************* Synthesize Section **********************/

#user-persona h6 {
    /* font-size: 0.625rem;; */
    text-align: center;
    /* text-transform: uppercase; */
    color: #426A5A;
    letter-spacing: normal;
    /* font-weight: bold; */
}

#synthesize h2:last-child{
    font-style: italic;
    margin-top: 4rem;
}

/********************* Sketches Section **********************/

#onboarding-images img{
    width: 100%;
    border: #262626 solid 2px;
    margin: 2rem 0;
}

#onboarding-steps h5 {
   /* text-align: center; */
   font-size: 1rem;
   text-transform: uppercase;
   color: #426A5A;
   letter-spacing: normal;
   font-weight: 600;
   margin-bottom: 0;
}

#onboarding-steps p{
    margin-top: 0;
}