* {
    box-sizing: border-box;
   
}

/* to prevent cutoff when going to section by clicking from the nav menu */
html {
    scroll-padding-top: 20vh;
}

body {
    font-family: 'Lato', sans-serif;
    color: #262626;
}

/* show/hide for whichever category projects are being shown */
#projects>section.showing{
    display: flex;
}

#projects>section.hiding {
    display: none;
}

/*************** GENERAL ***************/
#container {
    width: 100vw;
    min-width: 375px;
    padding: 2em;
    margin: 0 auto;
    position: relative;
    max-width: 90vw;
}

nav ul li,
#resume,
#name h1,
h2,
h3,
h5,
.skills-links ul li,
#contact button,
footer p,
span {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'DM Serif Display', serif; */
    text-transform: uppercase;
}

h2 {
    font-size: 1.7em;
    margin: 0.5em 0;
}

#skills ul, 
p {
    line-height: 1.5;
}

#project-categories button:nth-child(1) h2 {
    color: #262626;
}

#project-categories button:nth-child(2) h2,
#project-categories button:nth-child(3) h2 {
    color:#858F99;
}

/**************** LINKS & BUTTONS ****************/
button {
    background: none;
    border: none;
}

button:hover,
a {
    cursor: pointer;
}

#project2 ol li,
#project3 ol li,
#project4 ol li,
#project5 ol li,
#project6 ol li,
nav ul li,
#skills ul,
.skills-links ul {
    list-style-type: none;
}

#project2 a {
    color: #262626;
}

nav a,
#resume a,
#project2 ol li a,
#project3 ol li a,
#project4 ol li a,
#project5 ol li a,
#project6 ol li a,
.skills-links a,
#contact a {
    text-decoration: none;
    color: #262626;

}

#project2 ol li,
#project3 ol li,
#project4 ol li,
#project5 ol li,
#project6 ol li {
    margin-bottom: 0.1em;
}

#project2 ol li i,
#project3 ol li i,
#project4 ol li i,
#project5 ol li i,
#project6 ol li {
    margin-bottom: 0.15em;
}

#project2 ol li a,
#project3 ol li a,
#project4 ol li a,
#project5 ol li a,
#project6 ol li a {
    display: inline-block;
}

#project2 ol li a,
#project2 ol li i,
#project3 ol li a,
#project3 ol li i,
#project4 ol li a,
#project4 ol li i,
#project5 ol li a,
#project5 ol li i,
#project6 ol li a,
#project6 ol li i {
    vertical-align: middle;
}

.skills-links button:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
}


#container #resume:hover,
#container #contact button:hover,
footer button:hover {
    /* background-color: #858F99; */
    background-color: #262626;
   
}

footer a,
#resume a:hover,
#contact a:hover,
footer button:hover i{
    color: #fff;
}

/* #resume:hover,
#contact button:hover{
    transform: scale(1.05);
} */

#resume,
#contact button {
    width: fit-content;
    height: fit-content;
    font-size: 1em;
    margin: 1.5em auto;
    padding: 0;
    background-color: #F0F0F0;
    border-radius: 0.3em;
    /* background-color: #ffffff;
    border-radius: 0.3em;
    border: solid #262626; */
    transition: background-color 0.2s ease-in-out;
    
}

#resume a,
#contact button a {
    display: block;
    width: 7em;
    line-height: 3;
    font-weight: 600;
}




/**************** HEADER ****************/
#header-background {
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-background.open {
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
    background-color: rgba(229, 229, 229, 0.5);
    right: 0;
    animation: moveIn 1s ease-in-out;
    /* transition: opacity 2s ease-in-out; */
    /* transition-delay: 1s; */
    /* top: 0; */
    z-index: 1;

}

header {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 1;
}

header.open {
    background-color: #fff;
    width: 80vw;
    height: 100vh;
    top: 0;
    right: 0;
    animation: moveIn 0.5s ease-in-out;
    /* transition: 1s ease-in-out; */
    /* transition: 0.5s ease-in-out; */
}

@keyframes moveIn {
    0% {
        right: -500px;
    }

    100% {
        right: 0;
    }
}

@keyframes moveOut {
    0% {
        right: 0;
    }

    100% {
        right: -500px;
    }
}

#logo {
    height: 75%;
    padding-left: 2em;
}

#logo img {
    height: 100%;
}

nav {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    width: 60%;
    padding: 0;
}

nav ul li {
    font-size: 1.4em;
    margin-bottom: 1em;
    font-weight: 600
}

/* Underline animation when hovering over it */
nav li a:after,
#project2 ol a:after,
#project3 ol a:after,
#project4 ol a:after,
#project5 ol a:after,
#project6 ol a:after {
    content: '';
    display: flex;
    width: 0;
    height: 0.15em;
    background: #262626;
    transition: width 0.6s ease-in-out;
}

nav li a:hover:after,
#project2 ol a:hover:after,
#project3 ol a:hover:after,
#project4 ol a:hover:after,
#project5 ol a:hover:after,
#project6 ol a:hover:after,
button img {
    width: 100%;

}

nav ul li i {
    margin-right: 0.5em;
}


/***************** NAV ANIMATION *****************/
#nav-icon {
    width: 2.5em;
    position: relative;
    margin-left: auto;
    transition: 1s ease-in-out;
    cursor: pointer;
    z-index: 2;
    /* top: 2em; */
    right: 2em;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 0.3em;
    width: 100%;
    background: #262626;
    border-radius: 0.1em;
    opacity: 1;
    /* left: 0; */
    transition: 0.2s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 0.7em;
}

#nav-icon span:nth-child(4) {
    top: 1.4em;
}

#nav-icon.open span:nth-child(1) {
    top: 0.8em;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 0.8em;
    width: 0%;
    left: 50%;
}


/***************** ABOUT *****************/

#container>section:first-of-type {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    /* margin: 0; */

}

#about {
    margin-top: 15vh;

}

#about img {
    width: 10em;
    height: 10em;

}
#about img,
#about-me img {
    border-radius: 50%;
    align-self: center;
}

#name p {
    margin-bottom: 0;
}

#name h1 {
    font-size: 2.8em;
    margin: 0;
}

#about span {
    font-weight: 900;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}

#skills h3 {
    width: 100%;
    font-size: 1.4em;
    margin: 0;
}

#skills ul {
    margin-top: 0;
}

#skills ul:first-of-type, #skills ul:last-child {
    padding-left: 0;
}

#skills ul li:first-child{
    font-weight: 600;
}


/***************** PROJECTS *****************/

#project-categories{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 1.5em;
    margin-bottom: 2em;
}

#projects h5 {
    font-size: 1.2em;
    margin: 0;
}

#projects {
    margin-top: 4em;

}

#project2 ol i,
#project3 ol i,
#project4 ol i,
#project5 ol i,
#project6 ol i {
    margin-right: 0.3em;
}

#projects>section {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    position: relative;
}

.project-image,
.project-text {
    border-radius: 0.3em;
}

.project-image,
.project-text,
.skills-links {
    width: 100%;
}

.project-image {
    height: 10em;
    box-shadow: 0 0 0.2em 0.0 rgba(156, 156, 158, 0.4);
    margin: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.project-image:hover {
    transform: scale(1.05);
}

.project-image a {
    display: block;
    height: 100%;
}

.project-image img {
    object-fit: cover;
    min-height: 100%;
    max-width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.project-text {
    margin: 1.2em 0;
    background-color: #fff;

}

.skills-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.skills-links ul {
    white-space: nowrap;
    padding-left: 0;
    margin-top: 0;
}

.skills-links ul li {
    display: inline;
    font-size: 0.7em;
    font-weight: 400;
    padding-right: 0.3em;
    color: #858F99;
}

.skills-links>div button {
    padding: 0 1em 0 0;
}


/***************** DESIGN GALLERY *****************/
#gallery a img {
    width: 100%;
}

#gallery a img {
   max-width: 100%;
   object-fit: cover;
}


/***************** CONTACT *****************/

#contact {
    text-align: center;
    max-width: 800px;
    margin: 10em auto 0 auto;
    padding: 2em 0 5em;
}

/***************** FOOTER *****************/
footer {
    width: fit-content;
    margin-top: 5em;
    padding-bottom: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

footer>p {
    font-size: 0.7em;
    text-align: center;
}

footer>div {
    width: fit-content;
    margin: auto;
}

footer button {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border-color: #262626;
    background-color: #F0F0F0;
    position: relative;
    transition: background-color 0.2s ease-in-out;
}

footer button:nth-child(1),
footer button:nth-child(2) {
    margin-right: 0.5em;
}

footer button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #262626;
    font-size: 1.3em;
}


 /*********************** IPAD WIDTH ************************/
@media only screen and (min-width: 600px) {

    #gallery a img {
        width: auto;
    }

    #gallery a:nth-child(4) img,
    #gallery a:nth-child(5) img {
        width: 48%;
    }

    p,
    #skills ul,
    .project-text p {
        font-size: 1em;
        font-weight: 400;
    }

    #container {
        max-width: 80vw;
    }

    #header-background {
        justify-content: space-between;
        height: 12vh;
    }

    header {
        width: 100%;
        position: static;
        padding-right: 2em;

    }

    #resume a,
    #contact button a {

        width: 7.2em;
        line-height: 2.6em;

    }

    /* NAVIGATION */
    #nav-icon,
    nav .fa-solid {
        display: none;

    }

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        position: static;
        top: 0;
        transform: none;

    }

    nav ul {
        width: fit-content;
        height: 1.2em;
    }

    nav ul li {
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 0;
        font-size: 1.1em;
    }

    #resume {
        margin-top: 0;

    }

    #skills ul:last-child {
        padding-left: revert;
    }

    /* ABOUT */
    #about {
        margin-top: 4.5em;
    }
    
    /* PROJECTS */
    #projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 3em;
    }

    #projects>section {
        max-width: 38%;
        min-width: 420px;
    }

    #project-categories{
        column-gap: 1em;
    }


    .project-image {
        height: 14em;
    }


    .skills-links ul li {
        font-size: 0.7em;
    }

    .project-text button {
        font-size: 1em;
    }

}

  /*********************** DESKTOP WIDTH ************************/
@media only screen and (min-width: 1000px) {


    h2 {
        font-size: 2em;
    }

    #container {
        max-width: 1200px;
    }

    #about {
        margin-top: 10%;
        position: relative;
    }

    #about img {
        width: 15em;
        height: 15em;
        position: absolute;
        right: 10%;
        top: 40%;
        margin-left: 3em;
    }

    #about p,
    #name,
    #skills{
        width: 60%;
    }

    #resume{
        margin: 1.5em 10em;
    }

    #resume a, 
    #contact a {
        font-size: 1.1em;
    }
    
    #name p {
        font-size: 1.1em;
    }

    #name h1 {
        font-size: 4em;
        margin: 0;
    }

    #skills h3 {
        width: auto;
        padding-right: 1.5em;
    }

    #project-categories{
        column-gap: 3em;
    }


    #projects {
        row-gap: 5em;
    }

    #projects>section {
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 90%;
        justify-content: space-between;
    }

    .project-image {
        width: 50%;
        height: 100%;
    }

    .project-text {
        width: 45%;
        margin: 0;
        align-self: center;
    }

    #projects h5 {
        font-size: 1.5em;
    }

}

/* ***************************************************** */
/* About ME HTML PAGE */

#about-me {
    margin-top: 20vh;
    /* max-width: 90%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about-me h2{
   width: 100%;
   /* text-align: center; */
   
}

#img-location{
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
    justify-content: center;
    align-content: center;
    margin-bottom: 3em;
}

#img-location img{
    width: 80%;
    margin-top: 3em;
}

#img-location  > p {
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 600px) {

#about-me-text{
    width: 60%;
}
#img-location{
    width: 30%;
    margin-bottom: 0;
}
}