* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* GENERAL */
#container {
    /* display: flex; */
    /* justify-content: space-between; */

    width: 100vw;
    min-width: 300px;
    padding: 2em;
    margin: 0 auto;
    position: relative;
}

nav ul li,
nav button,
#name h1,
h2,
h3,
h5,
#contact button,
footer p {
    font-family: 'DM Serif Display', serif;
    text-transform: lowercase;
}

h2 {
    font-size: 2.4em;
}

p {
    font-size: 1.18em;
}

#container nav button:hover,
#container #contact button:hover {
    background-color: #000;
    color: #fff;
}

nav a,
.skills-links a,
#contact a {
    text-decoration: none;
    color: #000;

}


footer a,
nav button a:hover,
#contact a:hover {
    color: #fff;
}

/* nav button a,
#contact a {
    line-height: 100%;
} */

button:hover,
a {
    cursor: pointer;
}


/* HEADER */
#header-background {
    /* position: absolute; */
    position: fixed;
    /* left: 2em; */
    width: 100%;
    height: 10vh;
    background-color: #fff;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

#header-background.open {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(196, 196, 196, 0.5);
    /* top: 0; */

}

header {

    position: absolute;
    top: 2em;
    right: 2em;
}

header.open {
    background-color: #fff;
    width: 80vw;
    height: 100vh;
    top: 0;
    right: 0;

}

nav {
    display: none;
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    width: 60%;
    padding: 0;

    /* padding-left: 50%; */
}

nav ul li {
    list-style-type: none;
    font-size: 1.8em;
    margin-bottom: 1em;
    /* text-align: center; */

}

nav ul li i {
    margin-right: 0.5em;
}

/* #container nav button {
    width: 5em;
}
 */


/* NAV ANIMATION */
#nav-icon {
    width: 3.4em;
    /* height: 1.5em; */
    position: relative;
    margin-left: auto;
    transition: 1s ease-in-out;
    cursor: pointer;
    /* right: 2em; */
}

#nav-icon.open {
    top: 2em;
    right: 2em;
}


#nav-icon span {
    display: block;
    position: absolute;
    height: 0.4em;
    width: 100%;
    background: #000;
    border-radius: 1em;
    opacity: 1;
    /* left: 0; */
    transition: 0.2s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 0.9em;
}

#nav-icon span:nth-child(4) {
    top: 1.8em;
}

#nav-icon.open span:nth-child(1) {
    top: 0.8em;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 0.8em;
    width: 0%;
    left: 50%;
}


/* ABOUT */
#about {
    margin-top: 3.8em;
}

#about img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    /* align-self: center; */
}

#name p {
    margin-bottom: 0;
}

#name h1 {
    font-size: 3.5em;
    margin: 0 0 0.67em 0;
}

#skills {
    display: flex;
    flex-wrap: wrap;
}

#skills h3 {
    width: 100%;
    font-size: 1.8em;
    margin: 0.5em 0;
}

#skills ul {
    margin-top: 0;
    list-style-type: none;
    font-size: 1.18em;
}

#skills ul:first-of-type {
    padding-left: 0;
}

/* PROJECTS */


#projects h5 {
    font-size: 1.8em;
    margin: 0;
}

#projects {
    margin-top: 4em;

}

#projects>section {
    margin-bottom: 3em;
    border-radius: 0.3em;
    box-shadow: 0 0 0.2em 0.0 rgba(156, 156, 158, 0.5);
    position: relative;
}

.project-image {
    width: 100%;
    height: 14em;
    /* background-color: #E5E5E5; */
    border-radius: 0.3em 0.3em 0 0;
    margin: 0;
    overflow: hidden;
}

.project-image a {
    display: block;
    height: 100%;
}

.project-image img {
    width: 100%;
    height: 100%;
    /* filter: grayscale(80%); */
}

.project-text {
    width: 100%;
    padding: 1.2em;
    background-color: #fff;
    border-radius: 0.3em;
    /* margin-top: -0.2em; */
}

.project-text p {
    color: #9c9c9e;
    font-size: 1.2em;
    /* line-height: 1.25em; */
}

.skills-links {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1.2em;
}

.skills-links ul {
    list-style-type: none;
    white-space: nowrap;
    padding-left: 0;
}

.skills-links ul li {
    display: inline;
    font-size: 0.9em;
    padding-right: 0.3em;
}

.skills-links button {
    background: none;
    border: none;

}

.skills-links button a:hover,
nav ul li a:hover {
    color: #9c9c9e;
}



/* CONTACT */

#contact {
    text-align: center;
    margin-bottom: 5em;
}

nav button,
#contact button {
    width: fit-content;
    height: fit-content;
    font-size: 1.6em;
    margin-top: 1.5em;
    padding: 0;
    background: none;
    border-color: #000;
    border-radius: 0.3em;
}

nav button a,
#contact button a {
    display: block;
    width: 6em;
    line-height: 2.3em;
}

/* CONTACT */
footer {
    width: fit-content;
    margin-top: 5em;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

footer>div {
    width: fit-content;
    margin: auto;
}

footer button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border-color: #000;
    background-color: #000;
    color: #fff;
}


@media only screen and (min-width: 500px) {

    p,
    #skills ul,
    .project-text p {
        font-size: 1em;
        font-weight: 400;
    }

    #container {
        max-width: 80vw;
    }

    #header-background {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 12vh;
    }

    header {
        width: 80vw;
        position: static;
        padding-right: 2em;

    }

    /* NAVIGATION */
    #nav-icon,
    nav .fa-solid {
        display: none;

    }

    nav {
        /* width: 40%; */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        position: static;
        top: 0;
        transform: none;
        /* align-items: center; */

    }

    nav ul {
        width: fit-content;
        /* align-self: center; */
    }

    nav ul li {
        display: inline;
        margin-right: 1em;
        /* font-size: 1.4em; */
    }

    nav button {
        margin-top: 0;
        font-size: 1.4em;
    }

    /* ABOUT */
    #about {
        margin-top: 4.5em;
    }

    #projects h2 {
        width: 100%;
        /* font-size: 3em; */
    }


    #projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 3em;
    }

    #projects>section {
        max-width: 38%;
        min-width: 420px;
    }


    .skills-links ul li {
        font-size: 0.7em;
    }

    .project-text button {
        font-size: 1em;
    }

}


@media only screen and (min-width: 1000px) {


    h2 {
        font-size: 3em;
    }

    #container {
        max-width: 1200px;
    }


    #about {
        margin-top: 10%;
        position: relative;
    }

    #about img {
        /* width: 30%; */
        width: 15em;
        height: 15em;
        position: absolute;
        right: 10%;
        top: 25%;
        margin-left: 3em;
    }

    #about p,
    #name,
    #skills {
        width: 60%;
    }

    #name p {
        /* font-size: 1.2em; */
        margin-bottom: -1.5em;
    }

    #name h1 {
        font-size: 8em;
        margin: 0;
    }

    #skills h3 {
        width: auto;
        padding-right: 1.5em;
    }

    #skills ul {
        margin-top: 1.2em;
    }


    #contact {
        margin-bottom: 10em;
    }
}