body {
    font-family: 'Inter', sans-serif;
    background-color: #181818;
    color: #fff;
}

#container {
    /* display: flex; */
    /* justify-content: space-between; */

    width: 85vw;
    min-width: 300px;
    max-width: 1400px;
    padding: 2em;
    margin: 0 auto;
}

#container>h6 {
    position: absolute;
    top: 2em;
    right: 2em;
    margin: 0;
}

#about header>p,
#projects-section>p,
h2,
h3 {
    text-transform: uppercase;
    /* font-weight: 500; */
}

h6 i {
    margin-right: 0.4em;
}

h6,
header p,
span,
h3,
#projects>h2,
.project-text ul li {
    color: #FABC39;
}

#about {
    margin-top: 3.5em;
}

#about a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-bottom: 0.16em solid #FABC39;
}

#about button {
    width: 6.8em;
    height: 2.3em;
}


header p {
    margin-bottom: 0;
    font-size: 0.8em;
}

header h1 {
    margin: 0.2em 0 0.67em 0
}

#skills {
    display: flex;
    flex-wrap: wrap;
}

#skills h3 {
    width: 100%;
}

#skills ul {
    margin-top: 0;
    list-style-type: none;
}

#skills ul:first-of-type {
    padding-left: 0;
}

#projects {
    margin-top: 4em;
}

#projects>section {
    margin-bottom: 3em;
}

.project-image {
    width: 100%;
    height: 145px;
    background-color: gray;
    /* margin: 0 auto; */
    border-radius: 0.3em;
    margin: 0;
}

.project-text {
    width: 100%;
    /* margin: 0 auto; */
}

#projects h2 {
    font-weight: 500;
}

#skills h3,
.project-text h2 {
    font-size: 1.3em;
    font-weight: 500;
}



.project-text ul {
    list-style-type: none;
    white-space: nowrap;
    padding-left: 0;
}

.project-text ul li {
    display: inline;
    font-size: 0.9em;
}

.project-text button {
    width: 5.5em;
    height: 2.3em;
    margin-right: 1em;
}

button {
    color: #fff;
    background: none;
    border: 1px solid #fff;
    border-radius: 0.2em;
}

button:hover {
    cursor: pointer;
}