body {
    font-family: 'Luckiest Guy', cursive;
    background: url('images/bkgd.png');
}

#container {
    width: 1366px;
	/* height: 768px; */
    height: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 5% 35% auto;
    grid-template-rows: 20% auto 10% 20%;
}

header {
    width: 80%;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-size: 2.6em;
    text-align: center;
}

/***  Post Card Form Info ***/
main {
    grid-column: 3;
    grid-row: 2 / span 2;
    display: grid;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 0.01em;
}

label {
    display: block;
    font-size: 1.3em;
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    float: right;
}

input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    margin-left: 20px;
    float: right;
}

input:focus{
    background-color: rgb(201, 201, 201);

}

::placeholder{
    color: rgb(192, 192, 192);
}

img {
    width: 100%;
}

div.image {
    width: 680px; /* 700 - 20*/
    height: 430px; /* 450 - 20*/
    grid-column: 1;
    grid-row: 1;
    padding: 20px;

}

div.image.first{
    background-color: white; 
    transform: rotate(5deg);
}

div.image.second{
    background-color: white;
    transform: rotate(355deg);
    z-index: 1;
}

#postcard-form {
    background-image: url('images/post-card.png');
    width: 660px;
    height: 415px;
    margin: 10px 0 0 40px;
    grid-column: 1;
    grid-row: 1 / span 1;
    z-index: 2;

    padding: 30px;

    display: grid;
    grid-template-columns: 50% auto 25%;
    grid-template-rows: 10% 10% auto 10%;
}

#stamp {
    width: 95px;
    height: 105px;

    grid-column: 3;
    grid-row: 1 / span 1;
    justify-self: end;
    
}

div.image, #postcard-form {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#story {
    display: none;
}

form {
    grid-column: 1 /span 2;
    grid-row: 1 / span 3;
    padding: 0 30px;
}

#postcard-form p {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    justify-self: center;
    align-self: center;
    margin: 0 0 0 30px;
    font-size: 1.2em;

}

#next-btn, #submit-btn {
    width: 60px;
    height: 30px;
    grid-column: 3 ;
    grid-row: 4 / span 1;
    justify-self: end;
    border: none;
    border-radius: 5px;
}

#submit-btn {
    display: none;
}

button:hover {
    background-color: black;
    color: white;
}

/***  Post Card Story Info ***/

#story-info, #addr-info {
    margin: 0 20px;
    display: none;
}

#story-info {
    grid-column: 1 / span 1 ;
    grid-row: 3 / span 2;
   
}

#story-content{
    margin: 5px 0;

}
#story-info p{
    font-size: 1.1em;
    letter-spacing: 0.035em;
    margin: 0;
}

#story-info p:nth-child(2){
    margin: 10px 0;
}

#story-info p:last-child{
    margin-right:40px;
    float: right;
}

#addr-info {
    grid-column: 2 / span 2 ;
    grid-row: 3 / span 1;
    margin: auto 0;
    padding: 20px;
    border-left: 2px solid black;
}

#addr-info p{
    width: 80%;
    font-size: 1.8em;
    border-bottom: 2px solid black;
    padding: 10px 0 2px 15px;
}

#send-postcard{
    margin: 0 auto;
    grid-column: 2 / span 2 ;
    grid-row: 4 / span 1;
    border: none;
    border-radius: 5px;
    width: 200px;
    display: none;
}


/***  Footer ***/
footer {
    font-family: 'Shadows Into Light', cursive;
    width: 80%;
    text-align: center;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1 ;
   
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    text-decoration: none;
    color: #4873B9;
    transform: scale(2, 2);
}