body {
    font-family: 'Fascinate', cursive;
    background: url('images/bkgd.png');

}

#container {
    width: 1366px;
    height: 768px;
    display: flex;
}

/* GAME RULES */
#rules {
    width: 340px;
    height: 708px;
    padding: 30px;
    background: #AAD0A2;

}

#rules h2 {
    margin-top: 70px;
    font-size: 1.8em;
}

#rules h3 {
    font-size: 1.3em;
}

#rules h3, #rules p {
    padding-left: 40px;
}

#rules p, #rules li, footer a, #gamearea p:last-of-type {
    font-family: 'Roboto', sans-serif;
}

/* TITLE */
h1 {
    margin: 0 0 10px 0;
    font-size: 5em;
    text-align: center;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    place-self: center center;
    
}

/* START OVERLAY */
#start-overlay {
    width: 892px;
    height: 501px;
    background-color: white;
    grid-row: 2 / span 2;
    grid-column: 1 / span 3;
    z-index: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 35%;
    height: 300px;
    box-shadow: 0px 0px 10px rgb(78, 78, 78);
    border-radius: 15px;
    font-size: 3em;
    text-align: center;
}

input {
    font-family: 'Roboto', sans-serif;
    width: 200px;
    margin-top: 10px;
    border:none;
    border-bottom: 2px solid black;
    text-align: center;
}

#start-btn{
    width: 150px;
    font-size: 1.2em;
}

#start-btn:hover{
    background-color: #AAD0A2;
}


/* GAME AREA */
#game {
    width: 966px;
    height: 668px;
    display: grid;
    grid-template-rows: 25% auto 10%;
    grid-template-columns: 20% auto 20%;
    margin: 50px;
}
/* colored title image */
#game img {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    place-self: center center;
    margin-left: 5px;
}

/* PLAYER AREA LAYOUT */
#player1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
   
}

#gamearea {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    
}

#player2 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}

#game section {
    place-self: center center;
}

#player1 p, #player2 p {
    margin: 10px 0;
    text-align: center;
    font-size: 78px;
}

#player1 p:last-of-type, #player2 p:last-of-type {
    font-size: 33px;
}

#player1, #player2{
    height: 212px;
}

#player1 img, #player2 img{
    display: none;
}

/* BUTTONS */
#pass-btn, #roll-btn {
    background-color: #AAD0A2;
}

#quit-btn {
    margin-right: auto;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    align-self: end;
    color: white;
    background-color: #A31E22;
    
}

button {
    width: 108px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.8em;
}

/* GAME AREA - SCORE AND CUBE IMGS */
#gamearea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

#gamearea p{
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
}

#gamearea p:first-of-type{
    font-size: 2.2em;
    margin: 0 10px 10px 10px;
}

#gamearea img{
    width: 250px;
    height: 250px;
}

/* FOOTER*/
footer{
    margin: 110px 10px 10px 10px;
    font-size: 1.3em;
    text-align: right;
}

footer a {
    color: black;
    text-decoration: none;
    margin: 10px;

}

footer a:hover {
    border-bottom: 2px solid black;
}