* {
    box-sizing: border-box;
}

body {
    font-family: 'Shadows Into Light', cursive;
    text-transform: lowercase;
    color: white;
}

#container {
    /* position: relative; */
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    margin: 1em auto;
    /* padding-top: 1em; */

}

#loading {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sun {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: rgb(255, 244, 97);
    box-shadow: 0 0 2em yellow;
    animation: hover 2s ease-in-out infinite;
    z-index: -1;

}

#horizon-line {
    width: 12em;
    height: 2.5em;
    margin: 0.2em 0;
    background-color: orange;
    border: solid white;
    border-width: 0.5em 0 1.3em 0;
    box-shadow: 0 0 2em white;
    z-index: 0;

}

video {
    display: block;
    margin: auto;
}

video,
#poem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#poem {
    width: 1280px;
    height: 600px;
    /*   position: relative;
    width: 1280px;
    height: 723px;
    margin: auto; */
    /* grid-template-columns: ;
    grid-template-rows: ;*/
}

#poem h3 {
    position: fixed;
    margin: 0;
    font-size: 5em;
    top: 80%;
    right: 5%;
    visibility: hidden;
}

#poem h3:first-of-type {
    top: 65%;
    visibility: hidden;
}

#poem h3:hover {
    text-shadow: 2px 2px 1px rgb(255, 244, 97), 3px 3px 4px orange, 4px 4px 4px red;
}

#poem p {
    position: fixed;
    margin: 0;
    max-width: 620px;
    /* position: fixed; */
    /* padding: 1em; */
    font-size: 5em;
    /* max-width: 1280px;
    margin: 0 auto;
    background-color: black; */
    /* transition: all 2.5s; */
    overflow: hidden;
    letter-spacing: .1em;
    white-space: nowrap;
    width: 0;
    /* animation: typewriter 2s forwards; */

}

#poem p:hover {
    text-shadow: 2px 2px 1px rgb(255, 244, 97), 3px 3px 4px orange;
}

#line1 {
    top: 10%;
    left: 5%;
}

#line2 {
    top: 22%;
    left: 5%;
}

/* #line3 {
    top: 43%;
    left: 52%;
} */

#line3 {
    top: 34%;
    left: 5%;
}

#line4 {
    top: 46%;
    left: 5%;
}

#line5 {
    top: 58%;
    left: 5%;

}

.hidden {
    opacity: 0;
}


.showing {
    opacity: 1;
}




@keyframes hover {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2em);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}